.Footer{
    display: flex;
    align-items: center;
        justify-content: space-between;
       margin-left: 80px;
}
.footer1{
width:351px;
}
.footer2{
 
   margin-left: 20px;
}
.desfooter{
font-weight: 400;
font-size: 16px;
color: var(--color-des);
margin-top: 25px;
}
.tittel-ul{
font-size: 20px;
line-height: 100% !important;

}
.item-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
   list-style: none;
}
.item-ul li{
   margin-top: 16px;    
}
.item-a{
   text-decoration: none;

font-weight: 400;
font-size: 16px;
line-height: 100%;
font-family: var(--Inter-font);
color:var(--color-text)

}