.hero {
    background-color: var(--color-Nav);
    height: 649px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 70px;
}

.hero .hero-img-container {
    max-width: 100%;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.hero-title {
    width: 40.19%;
    margin-top: 32px;
}

.hero-title h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0%;
    color: var( --color-text);
}

.hero-title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: var(--color-des);
    margin-top: 20px;
    width: 80.04%;
}

.hero-box {
    display: flex;
    justify-content: space-between;
    width: 63.54%;
    gap: 10px;
    flex-wrap: wrap;
    position: static;
    z-index: 3;
    margin-top: 50px;
    background-color: var( --color-hero);
    backdrop-filter: blur(16px);
    border-radius: 16px;
    padding: 20px 58px;
}

.hero-box .hero-item {
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;

}

.hero-box .hero-item .hero-item-img-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-Nav);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 30px;
        height: 30px;
    }
}

.hero-box .hero-item .hero-item-desc {
    h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.22px;
        color: var(--color-text);
    }

    p {
        font-family:var(--Inter-font);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.22px;
        vertical-align: middle;
        margin-top: 10px;
        color: var( --color-des);

    }
}
@media (max-width:1260px){
    .hero-title h1{
        line-height: 60px;
    }
}
@media (max-width:1250px) {
   .hero-box {
        flex-direction: column;
        width: 100%;
        position: static;
        z-index: 3;
        margin-top: 35px;
        border-radius: 0;
        padding: 20px 39px 20px 20px;
        gap: 24px;
    }
}
@media (max-width:992px) {
    .hero {
        height: 740px;
        padding-left: 0;
        margin-top: -20px;
    }

    .hero .hero-img {

        width: 100%;
    }

    .hero-title {
        width: 88.88%;
        margin-top: 32px;
        position: static;
        z-index: 3;
        padding-left: 20px;
    }

    .hero-title h1 {
        font-size: 35px;
        line-height: 46px;
    }

    .hero-title p {
        font-size: 14px;
        line-height: 20px;
        width: 91.87%;
    }
 
}

@media (max-width:540px) {
    .hero-box .hero-item {
        width: 100%;
    }
}