.hero {
    height: 100vh;
    background-color: var(--color-Nav);
    position: relative;
      padding-top: 89px;
}
.hero-container{
     display: flex;
    flex-direction: column;
     justify-content: start;
     padding-top: 67px;
    gap: 50px;
    height: 100%;
    position: relative;   
} 
.hero-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index:2;
    width: 75.9753%;
    padding: 32px 0px 0 70px ;  
}
.tittel{
 font-size:60px;
    width: 70%;    
}
.hero-title p {
    font-weight: 400;
    font-size:16px;
    line-height:26px;
    color: var(--color-des);
    z-index: 9;
    width: 60%;
    margin-top: 20px;
}
.hero-image{
    position: absolute;
    bottom: 0;
    right: 0;
    height:75%;
}  
.Info-cards-cards{
    display: flex;
    gap: 60px;
    background-color: #FFFFFFCC;
    padding: 60px 90px;
    border-radius: 28px;
    z-index:2;
    width: 1337px;
    margin-left: 7.8125%;
    transition: all 0.3s ease;
}

.Info-cards:hover{
    transform: scale(1.1);
} 
/* desgin Info Card */
.InfoCard {
    display: flex;
    align-items: center;
    gap: 20px;
}

.InfoCard .Info-card-img{
    background-color: var(--blue11);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InfoCard .Info-card-img img {
    width: 50px;
}

/* desgin Info Card Description title + paragraph */
.InfoCard .InfoCardDesc {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.InfoCard .InfoCardDesc h3 {
    width: fit-content;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.22px;
    color: var(--black01);
}

.InfoCard .InfoCardDesc p {
    color: var(--black0105);
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.22px;
}

@media(max-width: 1919px){
    .InfoCard {
        gap: 28px;
    }

    .InfoCard .InfoCardDesc {
        gap: 24px;
    }

    .InfoCard .InfoCardDesc h3 {
        font-size: 22px;
    }

    .InfoCard .InfoCardDesc p {
        font-size: 22px;
    }
}

@media(max-width: 1440px){
    
    .InfoCard {
        gap: 15px;
    }

    /* .InfoCard img {
        width: 80px;
    } */

    .InfoCard .InfoCardDesc {
        gap: 10px;
    }

    .InfoCard .InfoCardDesc h3 {
        font-size: 16px;
    }

    .InfoCard .InfoCardDesc p {
        font-size: 16px;
    }
}

@media(max-width: 992px){
    
    .InfoCard {
        gap: 24px;
    }

    .InfoCard .InfoCardDesc {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .InfoCard .InfoCardDesc h3 {
        font-size: 16px;
    }

    .InfoCard .InfoCardDesc p {
        font-size: 15px;
    }
}   
