.hero {
    height: 100vh;
    background-color: var(--color-Nav);
    padding-top: 89px;
    position: relative;
}
.hero-container{
     display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
    gap: 50px;
    height: 100%;
    position: relative;   
} 
.hero-title {
    color: var(--black01);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index:2;
    width: 75.9753%;
}  