.hero {
    height: 100vh;
    background-color: var(--color-Nav);
    position: relative;
      padding-top: 89px;
}
.hero-container{
     display: flex;
    flex-direction: column;
     justify-content: start;
     padding-top: 67px;
    gap: 50px;
    height: 100%;
    position: relative;   
} 
.hero-title {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index:2;
    width: 75.9753%;
}
.tittel{
 font-size:60px;
    width: 70%;    
}
.hero-title p {
    font-weight: 400;
    font-size:16px;
    line-height:26px;
    color: var(--color-des);
    z-index: 9;
    width: 60%;
    margin-top: 20px;
}
.hero-image{
    position: absolute;
    bottom: 0;
    right: 0;
    height:75%;
}  