.hero {
    height: 100vh;
    background-color: var(--color-Nav);
    padding-top: 89px;
    position: relative;
}
.hero-container{
     display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
    gap: 50px;
    height: 100%;
    position: relative;   
} 
.hero-title {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index:2;
    width: 75.9753%;
}
.tittel{
 font-size:60px;
    width: 70%;    
}
.hero-title p {
    font-weight: 400;
    font-size:16px;
    line-height: 42px;
    letter-spacing: 0;
    color: var(--color-des);
    z-index: 9;
    width: 60%;
}  