.list{
display: flex;
align-items:center;
gap:50px;
list-style: none;
width: 974px;
margin:56px 0 0px 0;
}
.list li{
font-family:var(--Inter-font);
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color:var(--color-text);

}
 .activ {
color:var(--color-price) !important;
border-bottom: 1px solid var(--color-price) !important;
padding-bottom: 15px !important;
width: max-content;
}
.cardEstateDeals{
 display: flex;
 flex-wrap: wrap;
 gap: 31px;
}
.dealscard{
 width:31%;
height: 300px;
opacity: 1;
border-radius: 5px; 
 position: relative; 
}
.dealimg{
    width: 100%;
    height: 300px;
}
.textDeals{
    position: absolute;
    top: 14px;
    left: 14px;
    display: flex;
    gap: 7px;
    z-index:2;
}
.textDeals span{
height: 26px;
border-radius: 5px;
border: 1px solid var(--color-white);
font-family:var(--Inter-font);
font-weight: 400;
font-size: 12px;
line-height: 100%;
display: flex;
align-items: center;
padding: 6px;
color:var(--color-white);
background: #22222266;


}
@media (max-width:1030px) { 
.cardEstateDeals{
 gap:20px;
}   
}
@media (max-width:995px) {
 .dealscard{
 width:100%; 
} 
.dealimg{
    width: 100%;
} 
.list li{
font-size: 16px;
}
.list{
gap:30px;
margin:42px 0px 0px 0px;
}
.EstateDeals-ul{
    width:300px;
overflow-x:auto;
--webkit-overflow-scrolling:touch;    
}
}