.Navbarcontainr{
    display: flex;
justify-content: space-between;
align-items: center;
background-color: var( --color-Nav);
height:90px;
padding: 17px 70px;
}
.logo{
 width: 50px;   
}
.itemNav{
    display: flex;
    list-style: none;
   
}
.itemNav li a{
    text-decoration: none;
 margin: 0px 30px;
 color: var( --color-text);
 font-size: 16px;
 font-family:var(--Inter-font);
font-weight: 500;
}
.buttonlogo{
    background-color:var( --color-price);
    color: var( --color-button);
    font-size: 14px;
    width: 135px;
    height: 38px;
    border-radius: 6px;
   text-align: center;
}
.subnav{
    display: none;
        justify-content: space-between;
    align-items:center;
height:90px;
padding: 17px 70px;
position: relative;
background-color: var( --color-Nav);

}
.navMenu.show {
    height:100vh;
    display: block;
}
.shaw-ul{
    width: 100%;
        height: 100vh;
        background-color: var(--color-white);
        position: fixed;
        z-index: 100;
}
.shaw-li:first-child{
    background-color:var(--color-Nav);
     margin-top: 90px;
     border:none;
}
.shaw-li{
  margin-bottom: 32px;
            padding: 24px 20px;
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            cursor: pointer;
}
   .show .login {
        width: 175px;
        height: 38px;
        background-color: var(--main-color);
        border: none;
        font-size: 14px;
        color: white;
        border-radius: 6px;
        display: block;
        position: fixed;
        z-index: 201;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
@media (max-width:992px) {
    .Navbarcontainr{
        display: none;
    }
 .subnav{
    display: flex;

}  
}