.Navbarcontainr{
    display: flex;
justify-content: space-between;
align-items: center;
background-color: var( --color-Nav);
height:90px;
padding: 17px 70px;
}
.logo{
 width: 50px;   
}
.itemNav{
    display: flex;
    list-style: none;
   
}
.itemNav li a{
    text-decoration: none;
 margin: 0px 30px;
 color: var( --color-text);
 font-size: 16px;
 font-family:var(--Inter-font);
font-weight: 500;
}
.buttonlogo{
    background-color:var( --color-price);
    color: var( --color-button);
    font-size: 14px;
    width: 135px;
    height: 38px;
    border-radius: 6px;
   text-align: center;
}
.subnav{
    display: none;
        justify-content: space-between;
    align-items:center;
height:90px;
padding: 17px 70px;
position: relative;
background-color: var( --color-Nav);

}
/*.subnav .sid-bar{
position: absolute;
top: 100px;
right: -300px;
width: 300px;
height: 50vh;
transition: 0.4s;
}
.subnav .sid-bar1{
position: absolute;
top: 100px;
right:0px;
width: 300px;
height: 50vh;
    transition: 0.4s;
}
.itemNav-sidbar{
    list-style: none;   
}
/*.itemNav-sidbar li {
    margin: 32px;
    border-top: 1px solid #000000;
 border-bottom: 1px solid #000000;
 padding: 24px 0px 20px 0px;

}*/
/*.itemNav-sidbar li a{
     text-decoration: none;
 margin: 0px 30px;
 color: var( --color-text);
 font-size: 16px;
 font-family:var(--Inter-font);
font-weight: 500;  
text-align: center;  
}
.active{
background-color: var(--color-Nav);
}*/
.itemNav-sidbar li a{
     text-decoration: none;
 margin: 0px 30px;
 color: var( --color-text);
 font-size: 16px;
 font-family:var(--Inter-font);
font-weight: 500;  
}
.itemNav-sidbar li {
 padding: 24px 0px 20px 0px;
}
.itemNav-sidbar{
    list-style: none;   
}
.itemNav-sidbar{
display: flex;
flex-direction: column;
position: absolute;
top: 100px;
width: 350px;
height: 50vh;
top: 100px;
right:-350px;
}
.itemNav-sidbar.show {
    right:5px;
}
@media (max-width:992px) {
    .Navbarcontainr{
        display: none;
    }
 .subnav{
    display: flex;

}  
}